@import "@fontsource/spectral/400.css";
@import "@fontsource/spectral/500.css";
@import "@fontsource/spectral/600.css";
@import "@fontsource/spectral/700.css";
@import "@fontsource/spectral/800.css";
@import "@fontsource/spectral/400-italic.css";

body {
  margin: 0;
  overflow: hidden;

  font-family: "Spectral", serif;
  color: #36302b;
}

#app {
  width: 100vw;
  height: 100vh;
}

button {
  font: inherit;
  color: inherit;
}

b {
  font-weight: 600;
  font-size: 1.25em;
  color: #1a1817;
}
